<ul>
  <li>
    <%= link_to 'Оплата за обучение', payments_education_new_path %>
  </li>

  <li>
    <%= link_to 'Оплата за интернет', payments_internet_new_path %>
  </li>

  <li>
    <%= link_to 'Оплата за общежитие', payments_hostel_new_path %>
  </li>
</ul>
